/*! gridss: a CSS Grid microlib */

@custom-media --gridss-xs (max-width: 480px);
@custom-media --gridss-s  (max-width: 600px);
@custom-media --gridss-m  (max-width: 840px);
@custom-media --gridss-l  (max-width: 960px);
@custom-media --gridss-xl (max-width: 1280px);

/* Base */
.gridss {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
}

[class*='col-'] { width: 100%; }

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

.row-1 { grid-row: span 1; }
.row-2 { grid-row: span 2; }
.row-3 { grid-row: span 3; }
.row-4 { grid-row: span 4; }
.row-5 { grid-row: span 5; }
.row-6 { grid-row: span 6; }
.row-7 { grid-row: span 7; }
.row-8 { grid-row: span 8; }
.row-9 { grid-row: span 9; }
.row-10 { grid-row: span 10; }
.row-11 { grid-row: span 11; }
.row-12 { grid-row: span 12; }

/* Extra Small */
@media (--gridss-xs) {
  .col-xs-12,
  .col-xs-11,
  .col-xs-10,
  .col-xs-9,
  .col-xs-8,
  .col-xs-7,
  .col-xs-6,
  .col-xs-5,
  .col-xs-4,
  .col-xs-3,
  .col-xs-2,
  .col-xs-1 {
    display: grid;
 }

  .col-xs-12 { grid-column: span 12; }
  .col-xs-11 { grid-column: span 11; }
  .col-xs-10 { grid-column: span 10; }
  .col-xs-9  { grid-column: span 9; }
  .col-xs-8  { grid-column: span 8; }
  .col-xs-7  { grid-column: span 7; }
  .col-xs-6  { grid-column: span 6; }
  .col-xs-5  { grid-column: span 5; }
  .col-xs-4  { grid-column: span 4; }
  .col-xs-3  { grid-column: span 3; }
  .col-xs-2  { grid-column: span 2; }
  .col-xs-1  { grid-column: span 1; }
}


/* Small */
@media (--gridss-s) {
  .col-s-12,
  .col-s-11,
  .col-s-10,
  .col-s-9,
  .col-s-8,
  .col-s-7,
  .col-s-6,
  .col-s-5,
  .col-s-4,
  .col-s-3,
  .col-s-2,
  .col-s-1 {
    display: grid;
 }

  .col-s-12 { grid-column: span 12; }
  .col-s-11 { grid-column: span 11; }
  .col-s-10 { grid-column: span 10; }
  .col-s-9  { grid-column: span 9; }
  .col-s-8  { grid-column: span 8; }
  .col-s-7  { grid-column: span 7; }
  .col-s-6  { grid-column: span 6; }
  .col-s-5  { grid-column: span 5; }
  .col-s-4  { grid-column: span 4; }
  .col-s-3  { grid-column: span 3; }
  .col-s-2  { grid-column: span 2; }
  .col-s-1  { grid-column: span 1; }
}

/* Medium */
@media (--gridss-m) {
  .col-m-12,
  .col-m-11,
  .col-m-10,
  .col-m-9,
  .col-m-8,
  .col-m-7,
  .col-m-6,
  .col-m-5,
  .col-m-4,
  .col-m-3,
  .col-m-2,
  .col-m-1 {
    display: grid;
 }

  .col-m-12 { grid-column: span 12; }
  .col-m-11 { grid-column: span 11; }
  .col-m-10 { grid-column: span 10; }
  .col-m-9  { grid-column: span 9; }
  .col-m-8  { grid-column: span 8; }
  .col-m-7  { grid-column: span 7; }
  .col-m-6  { grid-column: span 6; }
  .col-m-5  { grid-column: span 5; }
  .col-m-4  { grid-column: span 4; }
  .col-m-3  { grid-column: span 3; }
  .col-m-2  { grid-column: span 2; }
  .col-m-1  { grid-column: span 1; }
}

/* Large */
@media (--gridss-l) {
  .col-l-12,
  .col-l-11,
  .col-l-10,
  .col-l-9,
  .col-l-8,
  .col-l-7,
  .col-l-6,
  .col-l-5,
  .col-l-4,
  .col-l-3,
  .col-l-2,
  .col-l-1 {
    display: grid;
 }

  .col-l-12 { grid-column: span 12; }
  .col-l-11 { grid-column: span 11; }
  .col-l-10 { grid-column: span 10; }
  .col-l-9  { grid-column: span 9; }
  .col-l-8  { grid-column: span 8; }
  .col-l-7  { grid-column: span 7; }
  .col-l-6  { grid-column: span 6; }
  .col-l-5  { grid-column: span 5; }
  .col-l-4  { grid-column: span 4; }
  .col-l-3  { grid-column: span 3; }
  .col-l-2  { grid-column: span 2; }
  .col-l-1  { grid-column: span 1; }
}

/* XL */
@media (--gridss-xl) {
  .col-xl-12,
  .col-xl-11,
  .col-xl-10,
  .col-xl-9,
  .col-xl-8,
  .col-xl-7,
  .col-xl-6,
  .col-xl-5,
  .col-xl-4,
  .col-xl-3,
  .col-xl-2,
  .col-xl-1 {
    display: grid;
 }

  .col-xl-12 { grid-column: span 12; }
  .col-xl-11 { grid-column: span 11; }
  .col-xl-10 { grid-column: span 10; }
  .col-xl-9  { grid-column: span 9; }
  .col-xl-8  { grid-column: span 8; }
  .col-xl-7  { grid-column: span 7; }
  .col-xl-6  { grid-column: span 6; }
  .col-xl-5  { grid-column: span 5; }
  .col-xl-4  { grid-column: span 4; }
  .col-xl-3  { grid-column: span 3; }
  .col-xl-2  { grid-column: span 2; }
  .col-xl-1  { grid-column: span 1; }
}